<nav class="site-navigation">
    <ul class="site-nav-desktop">
        {% for (title, link) in links %}
            <li>
                <a href="{{ link }}" class="nav-link {% if link.to_owned() == current_page %}active{% endif %}">{{ title }}</a>
            </li>
        {% endfor %}
    </ul>
    
    <section class="site-nav-mobile">
        <input type="checkbox" id="menu-toggle" class="menu-checkbox">
        <label for="menu-toggle" class="hamburger-icon">
            <span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
        </label>
        
        <dialog class="mobile-menu">
            <ul class="menu-list">
                {% for (title, link) in links %}
                    <li>
                        <a href="{{ link }}" class="mobile-menu-link {% if link.to_owned() == current_page %}active{% endif %}">{{ title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </dialog>
    </section>
</nav>
